<html>
	<head>

	</head>
	<body>
		<p>
			{{ 'Visit http://ican.openacalendar.org/ for more' | linkify }}
		</p>
		<p>
			{{ 'Visit http://ican.openacalendar.org/ for more (in a new window)' | linkify({ 'attr': { 'target':'_blank' } } ) }}
		</p>
		<p>
			{{ 'Visit http://ican.openacalendar.org/ for more (also in a new window)' | linkifynew }}
		</p>
	</body>
</html>